!config
!config/*
!LICENSE
!README.md
logs
logs/*
resources
resources/*
results
results/*
!workflow
!workflow/*
!workflow/**
**/.snakemake
**/.snakemake/*
.DS_Store
!.gitignore
!.editorconfig
!.gitattributes
.ipynb_checkpoints
!.test
!.test/data

